body{background:#f0f0f0;font:12px/1.5 'Microsoft YaHei',YaHei,Arial,Helvetica,sans-serif;color:#5e5e5e}
body,p,div,h1,h2,h3,h4,h5,ul,li,dl,dt,dd,img,span,table,tr,td,th,hr,form,ol,tt,iframe,header,article,footer,tt{margin:0;padding:0}
img{border:0;vertical-align:middle}
ul,li,ol{list-style:none}
em,i,address{font-style:normal}
.clearfix{zoom:1;display:block}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
input,button{font-family:"微软雅黑";outline:0;border:0}
a{color:#555;text-decoration:none;outline:0}
a:hover{color:#3db1fa;}
a.aBlue{color:#3db1fa}
a.aBlue:hover{color:#d70c18}
a.aRed{color:#d70c18}
a.aRed:hover{color:#3db1fa}
a.aGray{color:#666}
a.aGray:hover{color:#3db1fa}
.fontGray{color:#666}
.fontBlue{color:#0085ec}
.fontRed{color:#d70c18}
.touziBnt{background:#3db1fa;color:#fff;width:94px;height:30px;line-height:30px;font-size:14px;display:inline-block;border-radius:3px;text-align:center;overflow:hidden}
.touziBnt:hover{color:#fff;background:#5cbdfb;text-decoration:none}
.touziBntNo{background:#c9eafe;color:#3db1fa;width:94px;height:30px;line-height:30px;font-size:14px;display:inline-block;border-radius:3px;text-align:center;overflow:hidden}
.touziBntNo:hover{color:#3db1fa;background:#c9eafe;text-decoration:none}
span.touziBnt{font-size:12px}
.more{color:#999}
.more:hover{color:#d70c18}
.meter{float:left;width:45px;height:45px;margin:0;display:inline;text-align:center;line-height:45px;color:#3db1fa;font-size:12px;background:url(../img/progressbar_mid.png) no-repeat}
.height10{height:10px;clear:both;overflow:hidden}
.height18{height:18px;clear:both;overflow:hidden}
.fl{float:left}
.fr{float:right}
.ml{margin-left:10px}
.mr{margin-right:10px}
.disNone{display:none}
.disBlock{display:block}
.borderGray{border:#e6e6e6 solid 1px}
.bgWhite{background:#fff}
.layout{width:1200px;margin:0 auto}
.sidebar{width:362px}
.column{width:820px}
i,#top ul li,#footer .telephoneUl li a{background:url(../images/all.png) no-repeat;}
#top{height:30px;min-width:1200px;background:#f9f9f9;border-bottom:#e6e6e6 solid 1px}
#top .topApp{float:left;line-height:30px}
#top .topApp i{float:left;margin:4px 6px 0 0;display:inline;height:22px;width:13px;background-position:0 -160px}
#top .topApp:hover i{-webkit-animation:cloud1-animation 300ms;-moz-animation:cloud1-animation 300ms;-ms-animation:cloud1-animation 300ms;-o-animation:cloud1-animation 300ms;animation:cloud1-animation 300ms}
#top ul{float:right}
#top ul li{float:left;line-height:30px;background-position:right -274px;background-repeat:no-repeat;margin:0;padding:0 12px 0 12px;display:inline;height:30px;position:relative;z-index:1001}
#top ul li i{float:left;height:20px;width:20px;background-position:-80px -160px;margin:5px 6px 0 0;display:inline}
#top ul li span.topMessage{height:18px;padding:0 5px;background:#ffa933;color:#fff;font-weight:bold;margin-left:5px;border-radius:3px}
#top ul li span.noMessageBg{height:18px;padding:0 5px;background-color:#a6ddff;color:#fff;font-weight:bold;margin-left:5px;border-radius:3px}
#top ul li.weixin i{background-position:-40px -160px}
#top ul li.weixin:hover i{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear}
#top ul li.qq,#top ul li.weixin{padding:0}
#top ul li.qq a.aQQ,#top ul li.weixin a.aQQ{float:left;height:30px;overflow:hidden;position:relative;padding:0 12px;z-index:1002}
#top ul li.hover{background:#fff;border-left:#e6e6e6 solid 1px;border-right:#e6e6e6 solid 1px}
#top ul li.hover a.aQQ{background:#fff}
#top ul li.hover .qqShow{position:absolute;border:#e6e6e6 solid 1px;background:#fff;left:-1px;top:29px;padding:15px 20px;width:220px;display:block}
#top ul li.hover .qqShow i{float:left;width:60px;height:60px;background-position:right 0;margin-right:16px;display:inline}
#top ul li.hover .qqShow .text{color:#999;line-height:20px}
#top ul li.hover .qqShow .text p{margin-top:5px}
#top ul li.hover .weixinShow{position:absolute;border:#e6e6e6 solid 1px;background:#fff;left:-1px;top:29px;padding:15px 20px;width:190px;display:block}
#top ul li.hover .weixinShow img{float:left;margin-right:10px;display:inline}
#top ul li.hover .weixinShow .text{color:#999;line-height:24px;margin-top:12px;color:#3db1fa;font-size:14px}
#header{min-width:1200px;border-bottom:#e6e6e6 solid 1px;background:#fff}
.logo{float:left;margin:13px 0 0 12px;display:inline}
.headBanner{float:left;margin-left:15px;display:inline}
#nav{float:right;}
#nav li{float:left;height:70px;line-height:70px;padding:0 20px;margin:0 10px;display:inline;border-bottom:#fff solid 2px;font-size:16px;position:relative;z-index:101}
#nav li a i{display:inline-block;height:6px;width:8px;background-position:-80px -200px;vertical-align:middle;margin-left:5px}
#nav li.curr{border-bottom:#3db1fa solid 2px}
#nav li.curr a{color:#3db1fa;font-weight:bold}
#nav li.curr a i{background-position:-88px -200px}
#nav li .show{position:absolute;line-height:24px;top:54px;left:14px;background:#fff;border:#e6e6e6 solid 1px;width:80px;padding:4px 5px 6px 5px;display:none;font-size:14px}
#nav li .show p a{float:left;color:#555;font-weight:normal;width:80%;padding:0 10%;margin-top:2px}
#nav li .show p a:hover{background:#3db1fa;color:#fff;text-decoration:none}
#nav li .show i{position:absolute;top:-5px;left:38px;height:5px;width:9px;background-position:-100px -200px}
#nav li.hover .show{display:block}
#header dl{float:right;font-size:16px;position:relative;height:70px;z-index:1000}
#header dl dt{float:left;line-height:28px;margin-top:20px}
#header dl dt i.txI{float:left;height:28px;width:28px;background-position:0 -200px;vertical-align:middle;margin-right:8px}
#header dl dt i.jtI{display:inline-block;height:5px;width:9px;background-position:-120px -200px;vertical-align:middle;margin-left:6px}
#header dl.curr i.txI{background-position:-40px -200px}
#header dl.curr i.jtI{background-position:-129px -200px}
#header dl dd{position:absolute;line-height:24px;top:54px;left:8px;background:#fff;border:#e6e6e6 solid 1px;width:80px;padding:4px 5px 6px 5px;font-size:14px;display:none}
#header dl dd i{position:absolute;top:-5px;left:38px;height:5px;width:9px;background-position:-100px -200px}
#header dl.curr a{color:#3db1fa;font-weight:bold}
#header dl.hover dd{display:block}
#header dl.hover dd a{float:left;color:#555;font-weight:normal;width:80%;padding:0 10%;margin-top:2px}
#header dl.hover dd a:hover{background:#3db1fa;color:#fff;text-decoration:none}
i.helpTipsIcon{display:inline-block;height:14px;width:14px;background-position:0 -100px;margin-left:5px;top:2px;position:relative;z-index:100}
i.helpTipsIcon .helpTipsText{position:absolute;z-index:0;display:none;width:160px;line-height:20px;border-radius:5px;border:#aeddff solid 1px;background:#e1f4ff;padding:5px 10px;font-size:12px;top:17px;left:-75px}
i.helpTipsIcon i.helpTipsI{position:absolute;z-index:10;display:none;height:6px;width:9px;background-position:-80px -100px;top:-6px;left:2px}
.pagination{text-align:center}
.pagination a{text-decoration:none;border:1px solid #c9eafe;color:#3db1fa}
.pagination a,.pagination span{display:inline-block;padding:6px 12px;margin-right:5px;margin-bottom:5px}
.pagination a:hover{border:1px solid #3db1fa}
.pagination .current{background:#3db1fa;color:#fff;border:1px solid #c9eafe}
.pagination .current.prev,.pagination .current.next{color:#999;border-color:#e6e6e6;background:#fff}
.floatBtn{position:fixed;top:240px;right:5px;z-index:1000;width:50px}
a.backTop{background-position:-160px -240px;background-color:#3db1fa;bottom:120px;cursor:pointer;display:none;height:50px;line-height:50px;position:fixed;right:5px;width:50px;z-index:10}
a.backTop:hover{background-color:#2997dc}
a.backTop i{display:block;position:absolute;top:50%;left:50%;margin-left:-13px;margin-top:-6px;width:26px;height:12px;background-position:-160px -240px}
.floatBtn ul li{width:50px;height:50px;background-color:#3db1fa;margin-bottom:1px;color:white;font-size:16px;position:relative;float:left}
.floatBtn ul li a.BtnName{display:block;width:50px;height:50px;text-indent:-9999px;position:relative;cursor:pointer}
.floatBtn ul li a.what{position:absolute;top:0;left:0;width:0;background-color:#2997dc;line-height:50px;text-align:center;z-index:-1000;display:none}
.floatBtn ul li a i{display:block;position:absolute;top:50%;left:50%;margin-left:-15px}
.floatBtn ul li.kefu i{width:30px;height:28px;background-position:0 -240px;margin-top:-14px}
.floatBtn ul li.compute a i{width:30px;height:30px;background-position:-40px -240px;margin-top:-15px}
.floatBtn ul li.watch a i{width:30px;height:24px;background-position:-80px -240px;margin-top:-12px}
.floatBtn ul li.app a i{width:16px;height:30px;background-position:-120px -240px;margin-top:-15px;margin-left:-8px}
.floatBtn ul li.watch .what{top:-120px;height:170px}
.floatBtn ul li.app .what{top:-121px;height:171px}
.floatBtn ul li.kefu .what,.floatBtn ul li.qq .what{line-height:25px}
.floatBtn ul li.kefu .what p.kefuTime,.floatBtn ul li.qq .what p.kefuTime{font-size:12px}
.floatBtn ul li a:link,.floatBtn ul li a:visited{text-decoration:none;color:white}
.floatBtn ul li a:hover{background-color:#2997dc}
.floatBtn ul li.qq i{width:30px;height:28px;background-position:-120px -771px;top:10px}
.floatBtn .century{position:absolute;top:-65px;left:5px;z-index:-2000}
#footer{float:left;min-width:1200px;width:100%;background:#e7e7e7;border-top:#d5d5d5 solid 1px;padding-top:30px}
#footer .footerDl{float:left;width:52%}
#footer .footerDl dl{float:left;width:26%;margin-left:4.5%;display:inline;font-size:14px}
#footer .footerDl dl dt{float:left;width:100%;height:28px;line-height:28px;font-weight:bold;padding-bottom:5px}
#footer .footerDl dl dd{float:left;width:100%;height:28px;line-height:28px}
#footer .footerDl dl dd a{color:#a5a5a5}
#footer .footerDl dl dd a:hover{color:#3db1fa}
#footer .telephoneUl{float:left}
#footer .telephoneUl li{font-size:14px;line-height:36px;position:relative}
#footer .telephoneUl li img{position:absolute;left:40px;top:40px;display:none}
#footer .telephoneUl li em{font-weight:bold}
#footer .telephoneUl li span{float:left}
#footer .telephoneUl li a{float:left;height:20px;width:20px;background-position:-40px -160px;vertical-align:middle;margin:9px 10px 0 0}
#footer .telephoneUl li a.sina{background-position:-160px -160px}
#footer .telephoneUl li a.weixin:hover img{display:block}
#footer .appDownload{float:right}
#footer .footerText{float:left;width:100%;text-align:center;border-top:#d5d5d5 solid 1px;padding:30px 0;margin-top:30px;font-size:14px}
#footer .footerText p{padding-bottom:30px;color:#a5a5a5}
#footer .footerText a{margin:0 2px}
@-webkit-keyframes cloud1-animation{0%{transform:rotate(0deg)}
25%{transform:rotate(-30deg)}
50%{transform:rotate(0deg)}
75%{transform:rotate(30deg)}
100%{transform:rotate(0deg)}}@-moz-keyframes cloud1-animation{0%{-moz-transform:rotate(0deg)}
25%{-moz-transform:rotate(-30deg)}
50%{-moz-transform:rotate(0deg)}
75%{-moz-transform:rotate(30deg)}
100%{-moz-transform:rotate(0deg)}}@-ms-keyframes cloud1-animation{0%{-ms-transform:rotate(0deg)}
25%{-ms-transform:rotate(-30deg)}
50%{-ms-transform:rotate(0deg)}
75%{-ms-transform:rotate(30deg)}
100%{-ms-transform:rotate(0deg)}}@-o-keyframes cloud1-animation{0%{-o-transform:rotate(0deg)}
25%{-o-transform:rotate(-30deg)}
50%{-o-transform:rotate(0deg)}
75%{-o-transform:rotate(30deg)}
100%{-o-transform:rotate(0deg)}}@keyframes cloud1-animation{0%{transform:rotate(0deg)}
25%{transform:rotate(-30deg)}
50%{transform:rotate(0deg)}
75%{transform:rotate(30deg)}
100%{transform:rotate(0deg)}}